extends layout
block content
  p #{teste}
  .col-md-3
    Registro
    form(role='form',method='POST',action='/users')
      .form-group
        label(for='name') Nome
        input.form-control(name = 'name', type='name', placeholder='Enter name')
      .form-group
        label(for='exampleInputEmail1') Username
        input#exampleInputEmail1.form-control(name='usr', type='text', placeholder='Enter email')
      .form-group
        label(for='exampleInputEmail1') Email
        input#exampleInputEmail1.form-control(name='email',type='text', placeholder='Enter email')
      .form-group
        label(for='exampleInputEmail1') senha
        input#exampleInputEmail1.form-control(name='senha',type='password', placeholder='Enter email')
      .form-group
        label(for='exampleInputEmail1') senha
        input#exampleInputEmail1.form-control(name='senha2',type='password', placeholder='Enter email')
      .form-group
        label(for='exampleInputEmail1') Fone
        input#exampleInputEmail1.form-control(name='telefone',type='text', placeholder='Enter email')

      button.btn.btn-default(type='submit') Submit
